html{
	width: 100%;
	height:100%;
	margin:0;
	font-size: 62.5%;
	font-family: 'Raleway', sans-serif;
}

body{
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	margin:0;
}

@media screen and (min-width:769px) {
	button{
		display:none;
	}
}
@media screen and (max-width:768px) {
	
	button{
		font-size:3em;
		position:fixed;
		text-align:center;
		width:20%;
		height:5%;
		font-size:1.5em;
		top:3%;
		right:3%;
		cursor:pointer;
	}

	button ul{
		overflow:hidden;
	}
	button ul li{
		height:100%;
		width:100%;
		height:3rem;
		font-size:1em;
		top:1%;
		right:1%;
		display: none;
	}

	button:hover ul li{
		height:1em;
		display: block;
		overflow:visible;
	}
}



	/*button:hover ul{
		background-color: white;
		color:black;
		display:block;
		font-size:0.7em;
		position:absolute;
		height:15%;
		top:6%;
		right:7%;
	}

	button ul {
		display:none;

	}*/
section{
	width:100%;
	height:100%;
	margin:0;
}

#container{
	width:100%;
	overflow:hidden;
}

section section{
	width:100%;
	position:relative;
	margin:0;
	overflow:hidden;
}

@media screen and (min-width:1440px) {
	nav{
		width:100%;
		overflow:hidden;
	}

	ul{
		width:100%;
		list-style-type: none;
		margin-left:45%;
		padding:0;
		position: absolute;
		bottom:10%;
		overflow:hidden;
	}

	li{
		width:16.5%;
		float:left;
		margin-right:2px;
	}

	li a{
		display: block;
		text-decoration: none;
		color:#fff;
		font-size:4.5em;
		text-align:center;
		line-height:center;
	}

	li a:hover{
		background-color: #fff;
		opacity:1;
		color:#000;
		border-radius: 0.5em;
	}
}

@media screen and (max-width:1439px) and (min-width:769px) {
	nav{
		width:100%;
		position: absolute;
		bottom:10%;
		overflow:hidden;
	}

	ul{
		width:100%;
		list-style-type: none;
		margin-left:65%;
		padding:0;
		overflow:none;
	}

	li{
		width:25%;
		margin-right:5%;
	}

	li a{
		display: block;
		text-decoration: none;
		color:#fff;
		font-size:4.5em;
		text-align:center;
		line-height:right;
	}

	li a:hover{
		background-color: #fff;
		opacity:1;
		color:#000;
		border-radius: 0.5em;
	}
	button{
		display:none;
	}
}

@media screen and (max-width:768px) {
	
	nav{
		width:100%;
		position: absolute;
		bottom:10%;
		overflow:hidden;
		display:none;
	}

	ul{
		width:100%;
		list-style-type: none;
		padding:0;
		overflow:none;
	}

	li{
		width:25%;
		margin-right:5%;
	}

	li a{
		display: block;
		text-decoration: none;
		color:#fff;
		font-size:1em;
		line-height:1em;
		text-align:center;
		line-height:right;
	}

	li a:hover{
		background-color: #fff;
		opacity:1;
		color:#000;
		border-radius: 0.5em;
	}
}

/* page-top */
#top_btn {
	position: fixed;
	width: 100px;
	height:100px;
	bottom: 20px;
	right: 20px;
	font-size: 77%;
}

#top_btn a {
	background: #666;
	text-decoration: none;
	color: #fff;
	width: 100px;
	padding: 30px 0;
	text-align: center;
	display: block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#top_btn a:hover {
	text-decoration: none;
	background: #999;
}
/*

#joint{
	-moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-5deg);
	-webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-5deg);
	-o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-5deg);
	-ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-5deg);
	transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(-5deg);
}*/

/*/-----------------------page1--------------------------/*/
#page1{
	background: url("../img/sakura.jpg") no-repeat fixed;
	background-size: cover;
}


@media screen and (max-width:768px) {
	#box{
	    width: 70%;
	    height: 40%;
	    text-align: center;
	    position:absolute;
	    top:50%;
	    /*margin: 200px auto;*/
	    /*padding-top:50px;*/
	}
}

@media screen and (min-width:769px) {
	#box{
	    width: 70%;
	    height: 40%;
	    text-align: center;
	    /*margin: 200px auto;*/
	    /*padding-top:50px;*/
	}
}

.cls-1{    
    stroke:#092951;
    fill:#fff;
    stroke-width:1;    
    stroke-dasharray: 3000;
    stroke-dashoffset:3000;
    -moz-animation:DASH 2s ease-in-out 1s forwards;
    -webkit-animation:DASH 2s ease-in-out 1s forwards;
    -o-animation:DASH 2s ease-in-out 1s forwards;
    animation:DASH 2s ease-in-out 1s forwards;
    -webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;    
}

@keyframes DASH{
    0%  {stroke-dashoffset:3000;fill:#fff}
    80% {stroke-dashoffset:2000;fill:#fff}
    100%{stroke-dashoffset:0;fill:#092951;}
}

@-moz-keyframes DASH{
    0%  {stroke-dashoffset:3000;fill:#fff}
    80% {stroke-dashoffset:2000;fill:#fff}
    100%{stroke-dashoffset:0;fill:#092951;}
}

@-webkit-keyframes DASH{
    0%  {stroke-dashoffset:3000;fill:#fff;}
    80% {stroke-dashoffset:2000;fill:#fff}
    100%{stroke-dashoffset:0;fill:#092951;}
}

@-o-keyframes DASH{
    0%  {stroke-dashoffset:3000;fill:#fff}
    80% {stroke-dashoffset:2000;fill:#fff}
    100%{stroke-dashoffset:0;fill:#092951;}
}

@-ms-keyframes DASH{
    0%  {stroke-dashoffset:3000;fill:#fff}
    80% {stroke-dashoffset:2000;fill:#fff}
    100%{stroke-dashoffset:0;fill:#092951;}
}

/*/-----------------------page2--------------------------/*/

/*#page2{
	background-color:#F2DDDE;
	color:#89ABE3;
}
*/
#page2{
	background-color:#F2DDDE;
	color:#89ABE3;
}

#page2 h1{
	margin-top:5%;
	margin-bottom:5%;
	margin-left:10%;
	margin-right:10%;
	height:5%;
	width:80%;
	text-align:center;
	font-size: 4.5em;
}
/*#page2 #h1_2{
	margin-left:10%;
	margin-right:10%;
	height:5%;
	width:80%;
	text-align:center;
	font-size: 4.5em;
}
*/
#page2 article{
	height:75%;
	width:100%;
	margin:0;
}

@media screen and (min-width: 1215px) {


	#p_left{
		float:left;
		margin-left:10%;
		margin-right:5%;
		margin-bottom:14%;
		height:86%;
		width:31%;
		font-size:2em;
		line-height:1.5em;
		padding-left:2%;
		padding-right:2%;
	}

	#p_left h2{
		font-size:2em;
		line-height:1em;
		margin-top:5%;
		margin-bottom:5%;
		text-align:center;
	}

	#p_left p{
		margin:0;
	}

	#p_right h2{
		font-size:2em;
		line-height:1em;
		margin-top:5%;
		margin-bottom:5%;
		text-align:center;
	}

	#p_right{
		float:right;
		margin-left:5%;
		margin-right:10%;
		margin-bottom:14%;
		height:86%;
		width:31%;
		font-size: 2em;
		line-height:1.5em;
		padding-left:2%;
		padding-right:2%;
	}

}

@media screen and (max-width: 1214px) {
	#page2 #h1_2{
		display: none;
	}

	#p_left{
		float:left;
		margin-left:10%;
		margin-right:10%;
		margin-top:5%;
		margin-bottom:5%;
		width:76%;
		font-size:2em;
		line-height:1.5em;
		padding-left:2%;
		padding-right:2%;
		text-align:center;
	}

	#p_left h2{
		font-size:1em;
		line-height:1em;
	}

	#p_right{
		display:none;
	}

	#p_right h2{
		display:none;
	}

}

/*/-----------------------page3--------------------------/*/
#page3{
	background: url("../img/natsu_fix.jpg") no-repeat fixed;
	background-size: cover;
}

/*/------------------------page4---------------------------/*/

#page4{
	background-color:#89ABE3;
	color:#FFA500;
}

@media screen and (min-width: 769px) {
	#p4_h1_2{
		position:absolute;
		top:10%;
		margin:0;
		padding:0;
	}
	#page4 h1{
		margin-top:5%;
		margin-bottom:5%;
		margin-left:10%;
		margin-right:10%;
		height:5%;
		width:80%;
		text-align:center;
		font-size: 4.5em;
	}
	#page4 h2{
		text-align: center;
		border-bottom: 3px solid grey;
	}
	#wrap2{
		padding-top:10%;
		width:100%;
		height:100%;
	}

	#left{
		float:left;
		margin-left:10%;
		margin-right:5%;
		margin-bottom:14%;
		height:86%;
		width:31%;
		font-size:2em;
		line-height:1.5em;
		padding-left:2%;
		padding-right:2%;
	}


	#right{
		float:right;
		margin-left:5%;
		margin-right:10%;
		margin-bottom:14%;
		height:86%;
		width:31%;
		font-size: 2em;
		line-height:1.5em;
		padding-left:2%;
		padding-right:2%;
	}
}

@media screen and (max-width: 768px) {
	#p4_h1_2{
		display:none;
	}
	#page4 h1{
		margin-top:5%;
		margin-bottom:5%;
		margin-left:10%;
		margin-right:10%;
		height:5%;
		width:80%;
		text-align:center;
		font-size: 4.5em;
	}

	#page4 h2{
		text-align: center;
		border-bottom:3px solid grey;
	}
	#wrap2{
		padding-top:10%;
		width:100%;
		height:100%;
	}

	#left{
		text-align: center;
		margin-left:10%;
		margin-right:10%;
		margin-bottom:14%;
		height:86%;
		width:76%;
		font-size:2em;
		line-height:1.5em;
		padding-left:2%;
		padding-right:2%;
	}


	#right{
		display:none;
	}
}

/*/------------------------page5-----------------------/*/
#page5{
	background: url("../img/aki.jpg") no-repeat fixed;
	background-size: cover;
}


/*/---------------------page4,6共通-----------------------/*/

#columns_1 .contents{
	text-align:center;
	font-size:1em;
}


/*/-----------------------page6--------------------------/*/

#page6{
	background-color:#FFA500;
	color:#fff;
}

#page6 h1{
	margin-top:5%;
	margin-bottom:5%;
	margin-left:10%;
	margin-right:10%;
	height:15%;
	width:80%;
	text-align:center;
	font-size: 4.5em;
	overflow:none;
}

img{
	margin:0;
	padding: 0;
	width:100%;
	height:100%;
}

@media screen and (min-width: 769px) {
	#p6_h1_2{
		position:absolute;
		top:10%;
		margin:0;
		padding:0;
	}
	#page6 .wrap{
		width:100%;
		height:75%;
		position:absolute;
		bottom:0;
		margin-left:10%;
		overflow: hidden;
	}

	.wrap article{
		background-color: grey;
		width: 20%;
		height: 30%;
		float:left;
		margin-top:5%;
		margin-right:10%;/*
		border: 10px solid black;*/
	}
}
@media screen and (max-width: 768px) {
	#p6_h1_2{
		display:none;
	}
	#page6 .wrap{
		width:100%;
		height:75%;
		position:absolute;
		bottom:0;
		margin-left:8%;
		margin-right:8%;
		overflow: hidden;
	}

	.wrap article{
		background-color: grey;
		width: 40%;
		height: 30%;
		float:left;
		margin-left:2%;
		margin-right:2%;/*
		border: 10px solid black;*/
	}
}

/*/----------------------page7--------------------/*/

#page7{
	background: url("../img/fuyu.jpg") no-repeat fixed;
	background-size: cover;
}

/*/----------------------footer-------------------/*/
footer{
	background-color: black;
	text-align:center;
	width:100%;
	height:100%;
	font-size:2.5rem;
	position: absolute;
	color:#fff;
}



/*h2{
	text-align: center;
	font-size: 2.5em;
}
*//*header #logo {
	-moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(5deg);
	-webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(5deg);
	-o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(5deg);
	-ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(5deg);
	transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(5deg);
}*/


/*try*/
/*span{
	position:fixed;
	bottom:400px;
	text-align:center;
	z-index:1;
}*/

/*#explain{
	font-size:3em;
	line-height:1.5em;
}*/
/*
		float:right;
		margin-left:3%;
		margin-right:10%;
		margin-top:5%;
		margin-bottom:5%;
		width:33%;
		background-color: white;
		opacity:0.7;
		font-size: 2em;
		line-height:1.5em;
		padding-left:2%;
		padding-right:2%;	*/
		/*
		h2
		font-size:2em;
		line-height:1em;*/	